.idea/
logs/
.travis.yml
node_modules
**/node_modules
**/Dockerfile*
**/docker-compose*
**/deploy.sh
test
.dockerignore
.git
.gitignore
README.md
package-lock.json
debugtool
**/*.spec.ts
**/*.integration.ts
**/*.golden.ts
*.js
dist/
__mocks__/
scripts/deploy.sh
scripts/publish.sh
scripts/manageUnusedIntegrationData.ts

